.logo {
  display: flex;
  flex-direction: column;
}
.logo-text {
  font-family: var(--font-naruto);
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 120px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg,
    #faa815 4.94%,
    #f7761a 40.63%,
    #f81b1d 80.14%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
