.profile-form__header {
  padding: 18px 0 24px;
  display: flex;
  align-items: center;
  column-gap: 32px;
  border-bottom: 1px solid var(--color-ui-primary);
}

.profile-form__username {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
