.result {
  font-family: var(--font-secondary);
  color: var(--color-background);
  font-size: 26px;
  width: 100%;
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: right;
  padding: 32px;
}
