.layout {
  padding: 32px 12%;
  height: 100%;
  background-image: url(../../assets/images/background/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layout__background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 100%;
}
.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-wrapper {
  height: 100%;
  overflow: hidden;
  width: fit-content;
}
