.layout {
  padding: 32px 12%;
  height: 100%;
  background-image: url(../../assets/images/background/BackgroundSimple.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.layout_main {
  background-image: url(../../assets/images/background/Background.png);
}
@media (min-resolution: 2dppx) {
  .layout {
    background-image: url(../../assets/images/background/BackgroundSimple@2x.png);
  }
  .layout_main {
    background-image: url(../../assets/images/background/Background@2x.png);
  }
}

.layout__background-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.layout__background-image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: auto;
  height: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-wrapper {
  height: 100%;
  overflow: hidden;
  width: fit-content;
  min-width: 380px;
}
