.navigation-item {
  width: fit-content;
  list-style-type: none;
  border-radius: 12px;
  overflow: hidden;
}
.navigation-item.active .navigation-link {
  background: #ffffff;
  color: #262626;
}

.navigation-link {
  font-family: 'Bebas Neue';
  font-style: normal;
  color: #f5f3f2;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.navigation-link:hover {
  background: #ffffff;
  color: #262626;
}
